/* light and dark mode variables */
:root   {
    --bg-color: #1C1C1C;
    --result-section-color: #1F2937;
    --heads-color: #fff;
    --txt-color: #D2D2D2;
    --result-heads-color: #fff;
    --result-txts-color: #D2D2D2;
    --container-color: #525252;
}
.light-theme {
    --bg-color: #ffffff;
    --result-section-color: #FBF7EE;
    --heads-color: #1A1921;
    --txt-color: #4E4E4E;
    --result-heads-color: #1A1921;
    --result-txts-color: #4E4E4E;
    --container-color: #fff;
}



/* Typography styling */
p,
li  {
    color: var(--txt-color);
    line-height: 1.25rem;
}
h1  {
    line-height: 1.525rem;
}
h3  {
    font-size: 1.375rem;
    line-height: 2.375rem;
    font-weight: 400;
}
.app-input-section > h3   {
    text-align: center;
    color: #fff;
}
.app-input-section > h1   {
    line-height: 1.525rem;
    font-size: 6.09rem;
    text-align: center;

}
.conversion-results .result-type    {
    color: var(--result-heads-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}
.conversion-results > p {
    color: var(--result-txts-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}
.app-desc > p > span   {
    color: #585DFE;
    line-height: 2.375rem;
    text-decoration: underline;
}
.app-desc > p > span:hover  {
    color: #FB3796;
}
input   {
    background-color: #ffffff00;
    border: none;
    width: 100%;
    display: block;
    margin : 0 auto;
    font-size: 6.09rem;
    text-align: center;
    color: white;
    font-weight: 800;
}
::placeholder {
    color: rgba(255, 255, 255, 0.301);
}



/* light and dark mode toggle styling */
.darky-container    {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
#icon   {
    width: 30px;
    cursor: pointer;
    opacity: 50%;
}
.darky-container > div > p    {
    cursor: pointer;
    opacity: 50%;
    color: var(--txt-color);
}
html, body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--heads-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
}



/* main section styling */
.bod    {
    padding: 5%;
}
.app-container  {
    background-color: var(--container-color);
    border-radius: 1.5%;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-basis: 40%;
}
@media screen and (max-width: 1024px) {
    .app-container  {
        flex-basis: 100%;
    }
}
.app-desc-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.app-input-section    {
    padding: 3.32rem 3.18rem;
    border-radius: 1.5% 1.5% 0px 0px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%)
}
.app-results-section    {
    margin: 0px;
    background-color: var(--result-section-color);
    border-radius: 0% 0% 1.5% 1.5%;
}
.app-results-container  {
    padding: 2.375rem 6.375rem;
}
.conversion-results.volume {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}